@model HomeViewModel
<div class="container banner">
    <svg width="34"
         height="35"
         viewBox="0 0 34 35"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
         class="left-arrow banner-left-arrow">
        <circle cx="17"
                cy="17.9402"
                r="16.5"
                transform="rotate(-180 17 17.9402)"
                stroke="#848484"></circle>
        <path d="M12.2387 16.935L18.8388 11.1495C19.1571 10.8704 19.6732 10.8704 19.9915 11.1495L20.7613 11.8242C21.079 12.1028 21.0797 12.5543 20.7626 12.8335L15.5319 17.4402L20.7626 22.0469C21.0797 22.3261 21.079 22.7776 20.7613 23.0561L19.9915 23.7309C19.6732 24.0099 19.1571 24.0099 18.8388 23.7309L12.2387 17.9454C11.9204 17.6664 11.9204 17.214 12.2387 16.935Z"
              fill="#848484"></path>
    </svg>
    <svg width="34"
         height="34"
         viewBox="0 0 34 34"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
         class="right-arrow banner-right-arrow">
        <circle cx="17" cy="17" r="16.5" stroke="#848484"></circle>
        <path d="M21.7613 18.0052L15.1612 23.7907C14.8429 24.0698 14.3268 24.0698 14.0085 23.7907L13.2387 23.1159C12.921 22.8374 12.9203 22.3859 13.2374 22.1067L18.4681 17.5L13.2374 12.8933C12.9203 12.6141 12.921 12.1626 13.2387 11.8841L14.0085 11.2093C14.3268 10.9302 14.8429 10.9302 15.1612 11.2093L21.7613 16.9948C22.0796 17.2738 22.0796 17.7262 21.7613 18.0052Z"
              fill="#848484"></path>
    </svg>
    <div class="banner-img">
        <img src="/image/Untitled-1.jpg" alt="banner1" />
    </div>
</div>
<div class="container">
    <div class="releases">
        <h3 class="title">New <span style="color: var( --primary-color);">Releases</span> </h3>
        <div class="release-item">
            @foreach (var item in Model.LatestProduct)
            {
                <div class="release-item1">
                    <img src="@(SystemConstants.AppSettings.ImageUrl)/@item.ProductImages.FirstOrDefault().FileName" alt="shoes image" style="border-radius:20px" />
                    <div class="item1-info">
                        <p class="item1-name">@item.Name</p>
                        <p class="price">@item.OriginalPrice.ToVND()</p>
                        <div class="color-circle">
                            <p class="color">
                                3 colors
                                <div>
                                    <div class="circle red"></div>
                                    <div class="circle blue"></div>
                                    <div class="circle black"></div>
                                </div>
                            </p>
                        </div>
                    </div>
                    <button class="btn release-btn"> Add to basket </button>
                </div>
            }
        </div>
    </div>
</div>
<div class="container">
    <div class="description">
        <div class="description-info">
            <img src="/image/luxuryshoe-gf5f459b82_1920.jpg" alt="" class="des1 des-img">
            <div class="description-name1">
                <h4 class="description-title">Why choose <span> NIKE</span></h4>
                <p class="description-detail">
                    Nike has been established for a long time, and because of that it is embedded in alot of peoples subconscious. In the 80’s, NIKE made the genius decision to make Micheal Jordan the face of its brand. Micheal Jordan represents alot of things to people. A sort of rags to riches lifestyle, a thought that people can become anything despite their circumstances, and he kind of just represents a master of his craft, all things people would like to embody in their own lives.
                </p>
                <a href="#/" class="exp">
                    <button class="description-btn">+</button>
                    <p class="explore">Explore here</p>
                </a>
            </div>
            <img src="/image/boots-181744.jpg" alt="" class="des2 des-img">
            <div class="description-name2">
                <h4 class="description-title">Why choose <span> NIKE</span></h4>
                <p class="description-detail">
                    Nike has been established for a long time, and because of that it is embedded in alot of peoples subconscious. In the 80’s, NIKE made the genius decision to make Micheal Jordan the face of its brand. Micheal Jordan represents alot of things to people. A sort of rags to riches lifestyle, a thought that people can become anything despite their circumstances, and he kind of just represents a master of his craft, all things people would like to embody in their own lives.
                </p>
                <a href="#/" class="exp">
                    <button class="description-btn">+</button>
                    <p class="explore">Explore here</p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="trending">
        <h3 class="title trending-title"> Trending <span>Collection </span> </h3>
        <div class="trending-list">
            <div class="trending-item1">
                <p class="trending-item1-title">Balance choices</p>
                <p class="trending-item1-info">Known for premium quality and ultimate comfort, New Balance is one of the world’s premier athletic footwear brands.</p>
                <div class="trending-item1-control">
                    <svg width="34"
                         height="35"
                         viewBox="0 0 34 35"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg"
                         class="left-arrow trending-left-arrow"
                         onclick="handleTrendingLeft()">
                        <circle cx="17"
                                cy="17.9402"
                                r="16.5"
                                transform="rotate(-180 17 17.9402)"
                                stroke="#848484"></circle>
                        <path d="M12.2387 16.935L18.8388 11.1495C19.1571 10.8704 19.6732 10.8704 19.9915 11.1495L20.7613 11.8242C21.079 12.1028 21.0797 12.5543 20.7626 12.8335L15.5319 17.4402L20.7626 22.0469C21.0797 22.3261 21.079 22.7776 20.7613 23.0561L19.9915 23.7309C19.6732 24.0099 19.1571 24.0099 18.8388 23.7309L12.2387 17.9454C11.9204 17.6664 11.9204 17.214 12.2387 16.935Z"
                              fill="#848484"></path>
                    </svg>
                    <svg width="34"
                         height="34"
                         viewBox="0 0 34 34"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg"
                         class="right-arrow trending-right-arrow"
                         onclick="handleTrendingRight()">
                        <circle cx="17" cy="17" r="16.5" stroke="#848484"></circle>
                        <path d="M21.7613 18.0052L15.1612 23.7907C14.8429 24.0698 14.3268 24.0698 14.0085 23.7907L13.2387 23.1159C12.921 22.8374 12.9203 22.3859 13.2374 22.1067L18.4681 17.5L13.2374 12.8933C12.9203 12.6141 12.921 12.1626 13.2387 11.8841L14.0085 11.2093C14.3268 10.9302 14.8429 10.9302 15.1612 11.2093L21.7613 16.9948C22.0796 17.2738 22.0796 17.7262 21.7613 18.0052Z"
                              fill="#848484"></path>
                    </svg>
                </div>

            </div>
            <div class="trending-item">
                <div class="trending-item-overlay">
                    <div class="trending-item-all">
                        <div class="trending-item-all1">
                            <img src="img/balance1.jpg" alt="">
                            <p class="item1-name">Kith new balance RC 1300 "Kith - 10th Anniversary - Beige"</p>
                            <p class="price">2.245.000 VND</p>
                            <button class="btn trending-btn"><i class="fas fa-cart-plus"></i></button>
                        </div>
                        <div class="trending-item-all1">
                            <img src="img/balance2.jpg" alt="">
                            <p class="item1-name">Kith new balance RC 1300 "Kith - 10th Anniversary - Beige"</p>
                            <p class="price">2.245.000 VND</p>
                            <button class="btn trending-btn"><i class="fas fa-cart-plus"></i></button>
                        </div>
                        <div class="trending-item-all1">
                            <img src="img/balance3.jpg" alt="">
                            <p class="item1-name">Kith new balance RC 1300 "Kith - 10th Anniversary - Beige"</p>
                            <p class="price">2.245.000 VND</p>
                            <button class="btn trending-btn"><i class="fas fa-cart-plus"></i></button>
                        </div>
                    </div>
                    <div class="trending-item-all">
                        <div class="trending-item-all1">
                            <img src="img/balance1.jpg" alt="">
                            <p class="item1-name">Kith new balance RC 1300 "Kith - 10th Anniversary - Beige"</p>
                            <p class="price">2.245.000 VND</p>
                            <button class="btn trending-btn"><i class="fas fa-cart-plus"></i></button>
                        </div>
                        <div class="trending-item-all1">
                            <img src="img/balance2.jpg" alt="">
                            <p class="item1-name">Kith new balance RC 1300 "Kith - 10th Anniversary - Beige"</p>
                            <p class="price">2.245.000 VND</p>
                            <button class="btn trending-btn"><i class="fas fa-cart-plus"></i></button>
                        </div>
                        <div class="trending-item-all1">
                            <img src="img/balance3.jpg" alt="">
                            <p class="item1-name">Kith new balance RC 1300 "Kith - 10th Anniversary - Beige"</p>
                            <p class="price">2.245.000 VND</p>
                            <button class="btn trending-btn"><i class="fas fa-cart-plus"></i></button>
                        </div>
                    </div>
                    <div class="trending-item-all">
                        <div class="trending-item-all1">
                            <img src="img/balance1.jpg" alt="">
                            <p class="item1-name">Kith new balance RC 1300 "Kith - 10th Anniversary - Beige"</p>
                            <p class="price">2.245.000 VND</p>
                            <button class="btn trending-btn"><i class="fas fa-cart-plus"></i></button>
                        </div>
                        <div class="trending-item-all1">
                            <img src="img/balance2.jpg" alt="">
                            <p class="item1-name">Kith new balance RC 1300 "Kith - 10th Anniversary - Beige"</p>
                            <p class="price">2.245.000 VND</p>
                            <button class="btn trending-btn"><i class="fas fa-cart-plus"></i></button>
                        </div>
                        <div class="trending-item-all1">
                            <img src="img/balance3.jpg" alt="">
                            <p class="item1-name">Kith new balance RC 1300 "Kith - 10th Anniversary - Beige"</p>
                            <p class="price">2.245.000 VND</p>
                            <button class="btn trending-btn"><i class="fas fa-cart-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="school">
        <h3 class="title trending-school">Back To <span>School </span> </h3>
        <div class="school-list">
            <div class="school-item">
                <div class="school-info">
                    <p class="item1-name">Kith new balance"</p>
                    <div>
                        <p class="price">2.000.000 VND</p>
                        <p class="size">S14</p>
                        <div class="circle blue"></div>
                    </div>
                    <button class="btn release-btn ">Add to basket</button>
                </div>
                <img src="img/nike4.jpg" alt="shoes-image">
            </div>
            <div class="school-item">
                <div class="school-info">
                    <p class="item1-name">Kith new balance RC 1300 "Kith - 10th Anniversary - Beige"</p>
                    <div>
                        <p class="price">2.000.000 VND</p>
                        <p class="size">S14</p>
                        <div class="circle blue"></div>
                    </div>
                    <button class="btn release-btn">Add to basket</button>
                </div>
                <img src="img/nike6.jpg" alt="shoes-image">
            </div>
            <div class="school-item">
                <div class="school-info">
                    <p class="item1-name">Kith new balance RC 1300 "Kith - 10th Anniversary - Beige"</p>
                    <div>
                        <p class="price">2.000.000 VND</p>
                        <p class="size">S14</p>
                        <div class="circle blue"></div>
                    </div>
                    <button class="btn release-btn">Add to basket</button>
                </div>
                <img src="img/nike7.jpg" alt="shoes-image">
            </div>
            <div class="school-item">
                <div class="school-info">
                    <p class="item1-name">Kith new balance RC 1300 "Kith - 10th Anniversary - Beige"</p>
                    <div>
                        <p class="price">2.000.000 VND</p>
                        <p class="size">S14</p>
                        <div class="circle blue"></div>
                    </div>
                    <button class="btn release-btn">Add to basket</button>
                </div>
                <img src="img/nike8.jpg" alt="shoes-image">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="popular">
        <h3 class="title popular-title"><span>Popular </span> Right Now </h3>
        <div class="release-item">
            @foreach (var item in Model.Products.Items)
            {
                <div class="release-item1">
                    <img style="border-radius:20px" src="@(SystemConstants.AppSettings.ImageUrl)/@item.ProductImages.FirstOrDefault().FileName" alt="">
                    <div class="item1-info">
                        <p class="item1-name">@item.Name</p>
                        <p class="price">@item.OriginalPrice.ToVND()</p>
                        <div class="color-circle">
                            <p class="color">
                                3 colors
                                <div>
                                    <div class="circle red"></div>
                                    <div class="circle blue"></div>
                                    <div class="circle black"></div>
                                </div>
                            </p>
                        </div>
                        @{
                            string id = User.Identity.IsAuthenticated ? User.Claims.Where(x => x.Type == "Id").FirstOrDefault().Value.ToString() : "0";
                        }
                        <button onclick='addToCart(@item.Id, "@id")' class="btn release-btn"> Add to basket </button>
                    </div>
                </div>
            }
        </div>
        @if (Model.Products != null)
        {
            PagedNumberModel pagedModel = new PagedNumberModel
            {
                Page = Model.Products.PageIndex,
                PageCount = Model.Products.PageCount,
                Action = "Index",
                Controller = "Home",

            };
            <partial name="_PagedNumbers" model="@pagedModel" />
        }

    </div>
</div>

