@model List<OrderViewModel>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Orders Manage</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="<?= DOCUMENT_ROOT ?>/admin/home">Home</a></li>
                    <li class="breadcrumb-item active">Category manage</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div id="alert"></div>
<?php require_once(VIEW . "/admin/shared/notification.php") ?>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">All category bakery</h3>
                            <a href="<?= DOCUMENT_ROOT ?>/admin/orders/create"><button class="btn btn-primary ">Create new order</button></a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="myTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID order</th>
                                    <th>Customer</th>
                                    <th>Order day</th>
                                    <th>Delivery day</th>
                                    <th>status</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model)
                                {
                                    <tr>
                                        <td>@order.Id</td>
                                        <td>@order.UserName</td>
                                        <td>@order.DateCreated</td>
                                        <td>@order.DeliveryDate</td>
                                        <td>@order.Status</td>
                                        <td>@order.Total</td>
                                        <td>action</td>
                                    </tr>

                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID order</th>
                                    <th>Customer</th>
                                    <th>Order day</th>
                                    <th>Delivery day</th>
                                    <th>status</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
@section DataTable{
    <script>
        $(function () {
            $("#myTable").DataTable({
                "paging": true,
                "ordering": true,
                "responsive": true,
                "lengthChange": true,
                "searching": true,
                "autoWidth": false,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "buttons": ["copy", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#myTable_wrapper .col-md-6:eq(0)');
        });
    </script>
}