@model List<OrderViewModel>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Orders Manage</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Create" asp-controller="Order">Home</a></li>
                    <li class="breadcrumb-item active">Category manage</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div id="alert"></div>
<partial name="_Notification" />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">All orders</h3>
                            <a asp-action="Create" asp-controller="Order"><button class="btn btn-primary ">Create new order</button></a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="myTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID order</th>
                                    <th>Customer</th>
                                    <th>Order day</th>
                                    <th>Delivery day</th>
                                    <th>status</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model)
                                {
                                    <tr>
                                        <td>@order.Id</td>
                                        <td>@order.UserName</td>
                                        <td>@order.DateCreated</td>
                                        <td>@order.DeliveryDate</td>
                                        <td>
                                            @{
                                                String[] names = Enum.GetNames(typeof(Status));
                                                int[] values = (int[])Enum.GetValues(typeof(Status));
                                            }
                                            <select class="form-control custom-select" onchange="changeStatus(@order.Id,this)">
                                                @for (int i = 0; i < names.Length; i++)
                                                {
                                                    if (((int)order.Status) == values[i])
                                                    {
                                                        <option selected value="@values[i]">@names[i]</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@values[i]">@names[i]</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                        <td>@order.Total.ToVND()</td>
                                        <td class="project-actions text-center">
                                            <a class="btn btn-info btn-sm mb-1" asp-action="Update" asp-controller="Order" asp-route-id="@order.Id">

                                                <i class="fas fa-info-circle"></i> Details
                                            </a>
                                            <button class="btn btn-danger btn-sm mb-1 " data-toggle="modal" data-target="#deleteModal@(order.Id)">
                                                <i class="fas fa-trash"></i> Delete
                                            </button>
                                        </td>
                                        <div class="modal fade" id="deleteModal@(order.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete category</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure that you want to remove this item?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        <form asp-controller="Order" asp-action="Delete" asp-route-id="@(order.Id)">
                                                            <button class=" btn btn-primary">Delete</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>

                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID order</th>
                                    <th>Customer</th>
                                    <th>Order day</th>
                                    <th>Delivery day</th>
                                    <th>status</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<script>
    function changeStatus(id, ops) {
        var option = ops.options[ops.selectedIndex].value;
        var noti = document.getElementById("alert");
        var url = "/Order/UpdateStatus";
        var input = {};
        input.id = id;
        input.value = option;
        console.log(input.id, input.value);
        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var obj = JSON.parse(this.responseText);
                if (obj.status == true) {
                    if (noti.children[0] == undefined) {
                        var text = document.createElement("div");
                        text.classList.add("col");
                        text.innerHTML = ` <div class="alert alert-success  alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Success ! </strong> Updated successfully.
                            </div>`
                        noti.appendChild(text);
                    } else {
                        noti.removeChild(noti.children[0]);
                        var text = document.createElement("div");
                        text.classList.add("col");
                        text.innerHTML = ` <div class="alert alert-success  alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Success ! </strong> Updated successfully.
                            </div>`
                        noti.appendChild(text);
                    }
                } else {
                    var text = document.createElement("div");
                    text.classList.add("col");
                    text.innerHTML = ` <div class="alert alert-warning  alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Success ! </strong> Updated unsuccessfully.
                        </div>`
                    noti.appendChild(text);
                }
            };
        }
        xhttp.open("POST", url);
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify(input));

    }
</script>
@section DataTable{
    <script>
        $(function () {
            $("#myTable").DataTable({
                "paging": true,
                "ordering": true,
                "responsive": true,
                "lengthChange": true,
                "searching": true,
                "autoWidth": false,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "buttons": ["copy", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#myTable_wrapper .col-md-6:eq(0)');
        });
    </script>
}
